# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = takaheroes
  email = takaheroes@gmail.com

[core]
  editor = "/Applications/Emacs.app/Contents/MacOS/Emacs"
